.task-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.task-container .task-form {
    width: 40%;
    margin-right: 30px;
}

.task-container .time-task-input {
    width: 15%;
}

@media (max-width: 600px) {
    .task-container .task-form {
        width: 100%;
        margin-right: 0px;
    }

    .task-container .time-task-input {
        width: 25%;
    }
}