.all-tasks-list {
    padding-left: calc(15% + 3rem);
    padding-top: 3rem;
    padding-right: 3rem;
}

.home-filter {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-radio-group {
    margin-left: 16px;
}

@media (max-width: 600px) {
    .home-filter {
        align-items: flex-start;
    }
}